@import url(../../assets/fonts/georgia.ttf);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Georgia', sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
}

.wrapper {
  max-width: 1200px;
}

.main-title {
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 5.7rem;
  font-style: normal;
  color: #fafafa;
  margin-bottom: 42px;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
}

.btn {
  max-width: 261px;
  height: 52px;
  background-color: #fafafa;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  color: #545454;
}

.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.btn-fill {
  background-color: #F1CDB3;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #FDDCC4;
  cursor: pointer;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-style: normal;
  letter-spacing: 0.1em;
  color: #fafafa;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.tag:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.tag-slider-left {
  margin-right: 53px;
}

.tag-slider-right {
  margin-left: 53px;
}

.card {
  border-radius: 9px;
  background-color: #fafafa;
  text-align: center;
  overflow: hidden;
}

.card__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}

.card__btn {
  margin-bottom: 30px;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

header {
  padding: 60px 0;
}

.header {
  background: url(../../../assets/images/start-screen-gradient-background.svg), url(../../../assets/images/start-screen-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list__item {
  position: relative;
  margin-left: 35px;
}

.navigation-list__item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FDDCC4;
  display: block;
}

.navigation-list__item a {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  color: #CDCDCD;
}

.start-screen__info {
  width: 38%;
  margin-right: 42px;
}

.content {
  margin-bottom: 42px;
}

.content p {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: normal;
  color: #CDCDCD;
}

.start-screen__img {
  width: 62%;
}

.start-screen__img img {
  display: block;
  width: 100%;
}

.about {
  padding: 80px 0 100px 0;
}

.about__img {
  width: 50%;
  text-align: center;
}

.about__img img {
  height: 100%;
}

.about__content {
  width: 50%;
}

.about__content h2 {
  margin-bottom: 14px 0 25px 0;
  max-width: 430px;
}

.about__content p {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: normal;
  color: #4C4C4C;
  margin-bottom: 25px;
  max-width: 430px;
}

.about__content p:last-child {
  margin-bottom: 14px;
}

.pets {
  padding: 80px 0 100px 0;
  background-color: #f6f6f6;
}

.pets__btn {
  text-align: center;
}

.pets__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 0 60px 0;
}
/*# sourceMappingURL=main.css.map */