.navigation-list {
    display: flex;
    position: relative;
    @include media-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        transform: translateY(-100vh);
        opacity: 0;
        visibility: hidden;
    }
}
@include media-mobile {
    .navigation-close {
        transition: 0.3s;
        transform: translateY(-100vh);
    }
    .navigation-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #292929;
        transition: 0.3s;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}
.navigation-list__item {
    position: relative;
    margin-left: 35px;
    @extend %transition;
    &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $color-primary-light;
        display: block;
    }
    @include media-mobile {
        margin: 0 0 40px;
        &:last-child {
            margin: 0;
        }
    }
}

.navigation-list__item a {
    font-family: "Arial", sans-serif;
    @include font(1.5rem, 160%);
    color: #cdcdcd;
    @include media-mobile {
        @include font(3.2rem, 5.1rem);
    }
}
