.credit-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 349px;
    height: 43px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 9px;
    background: $color-primary;
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
    img {
        display: block;
        width: 30px;
    }
    span {
        @include font(2rem, 115%);
        letter-spacing: 0.06em;
        color: $color-dark-l;
        @include media-mobile {
            @include font(1.5rem, 1.7rem);
        }
    }

    @include media-mobile {
        width: 281px;
        margin: 0 auto 20px;
    }
}
