$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-white: rgba(250, 250, 250, 1);

$color-light-l:rgba(246, 246, 246, 1);
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #cdcdcd;

$color-text:#545454;
$color-text-dark:rgba(0, 0, 0, 1);
$color-text-light: rgba(0, 0, 0, 0.5);

$tablet-width: 768px;
$mobile-big-width: 415px;
$mobile-small-width: 320px;